html{
	width: 100%;
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
}

.navbar{
	height: 50px;
}
#underTopNav{
	height: 50px;
}
#mapDiv{
	width: 100%;
	height: calc(100% - 50px);
	#mapContainer{
		position: relative;
		width: calc(100% - 50px);
		height: calc(100% - 100px);
		display: block;
		margin: auto;
	}
}
